.tile {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}
.tile .checkerpiece{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.tile .checkerpiece:hover{
  cursor: grab;
}

.tile .checkerpiece:active{
  cursor: grabbing;
}


.red-tile{
  background-color: white;
}

.black-tile{
  background-color: rgb(0, 64, 128);
}

.tile .image {
  width: 70;
}